<!doctype html>
<html>

<head>

  <title>Crazy Correlations</title>

  <meta name="viewport" 
  content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <script src="/static/components/webcomponentsjs/webcomponents.js">
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <link rel="import" href="/static/components/font-roboto/roboto.html">
  <link rel="import"
    href="/static/components/core-header-panel/core-header-panel.html">
  <link rel="import"
    href="/static/components/core-toolbar/core-toolbar.html">
  <link rel="import"
    href="/static/components/paper-tabs/paper-tabs.html">
  <link rel="import" href="/static/components/paper-input/paper-input.html">
  <link rel="import" href="/static/components/paper-button/paper-button.html">
  <link rel="import" href="/static/components/paper-fab/paper-fab.html">
  <link rel="import" href="/static/components/paper-spinner/paper-spinner.html">
  <link rel="import" href="/static/components/paper-icon-button/paper-icon-button.html">


  <style>
  html,body {
    height: 100%;
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'RobotoDraft', sans-serif;
  }
  core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
  }
  core-toolbar, paper-tabs {
    background: #00bcd4;
    color: white;
    height: 80px;
  }
  #tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
  }
  #title {
    font-size: 30px;
  }
  .container {
    width: 80%;
    margin: 50px auto;
  }
  @media (min-width: 481px) {
    #tabs {
      width: 200px;
    }
    .container {
      width: 500px;
    }
  }
  </style>

</head>

<body unresolved>
  <core-header-panel>

    <paper-tabs selected="0" noink="" role="tablist" horizontal="" center="" layout="">
  
    <paper-tab id="title" role="tab" inline="" flex="" center-center="" horizontal="" layout="" class="">Crazy Correlations</paper-tab>
    <!-- <paper-tab role="tab" inline="" flex="" center-center="" horizontal="" layout="" class="">ITEM TWO</paper-tab> -->
    <!-- <paper-tab role="tab" inline="" flex="" center-center="" horizontal="" layout="" class="">ITEM THREE</paper-tab> -->
  </paper-tabs>

  
  <div horizontal layout>
  	
  	<div flex></div>

  	<div flex four>
	  <div class="container" layout vertical center>
	  	<h3>Using Machine Learning to draw crazy correlations</h3>
	  	<img src='http://imgs.xkcd.com/comics/decline.png'/>
	  	<br/>
	  </div>

  	</div>

  	<div flex four>
  		<div class="container side" layout vertical center>

		    <form div="signin-form" id="form" action="/submit" method="POST">
		        <fieldset>
		          <legend style="font-size:30px;"><font color="#6C1B34">User Information</font></legend>
		            <!-- <input type="text" name= "username" placeholder="JonDoe"> -->

		            <paper-input-decorator id="decorator" style="font-size:20px;" label="Enter Twitter Handle" floatinglabel="{{floatingLabel}}" value="" layout="" vertical="">
		              <input name= "username" is="core-input" id="input" committedvalue="{{committedValue}}" on-change="{{ changeAction }}" placeholder="Twitter Handle" aria-label="floating label">
		            </paper-input-decorator>

		         	 <input type="submit" class="submit-btn" type="hidden" class="button radius"/>
		        </fieldset>
		        <!-- <button type="submit" width="15" style="background-image: url('images/cancel.png');"/> -->
		       
		        
		        <!-- <paper-fab icon="send" id="sendButton" on-tap="{{handleClick}}"></paper-fab> -->
		      </form>

	      		<!-- <paper-spinner active id="wait"></paper-spinner> -->

		      <div class="row">
		      	{% if key %}
		      	
		        <center>
		        	<h2><font color="#941C2F">There seems to be a strong correlation </font> 
		        	<br/>between your friends talking about 
		        	<br/><font size="6" color="#2EBE62">{{ key }} </font>
		        	<br/>and 
		        	<br/><font size="6" color="#016FB9">{{ news }}!</font></h2>
		       
		       
            	<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count"></div>
            	{% endif %}
            	</center>
		      </div>

	  	</div>
	</div>

	<div flex></div>
  	</div>
</div>
	<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 'your-app-id',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  <script>


    $('#form').submit(function() {
    	console.log("HERE");
    	$(".side").append("<h3>Crunching data...</h3>");
    	$(".side").append("<paper-spinner active></paper-spinner>");
	    // $('#wait').addClass( "active" );
	    // $.post('/submit', function() {
	    //     $('#wait').hide();
	    // });
	    return true;
	});

        
    </script>

<!-- <footer>
      <small> © Jonathan Chen and Kelly Zhou</small>
</footer> -->

</body>


</html>

