
<html>
  <h1> Crazy Correlations </h1>
  <h3>Using Machine Learning to draw crazy correlations</h3>
  <img src='http://imgs.xkcd.com/comics/decline.png'>

     <div class="row">
        <div class="large-6 columns">
		     <form div="signin-form" action="/submit" method="POST">
			  <fieldset>
			    <legend style="font-size:30px;">Enter</legend>
			    <label style="font-size:25px;">Twitter Handle
			      <input type="text" name= "username" placeholder="JonDoe">
			    </label>
			  </fieldset>
			  <input type="submit" value="Login" class="button radius">
			</form>
		</div>
          <div class="row">
            <center><h2>{{ result }}</h2><center>
          </div>
</html>

